
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero div {
    margin: 20px;
}

.my-picture-container img {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

div.about-me, div.skills {
    width: 700px;
    margin: auto;
    font-size: 20px;
}

.project {
    height: 300px;
    width: 400px;
    background: grey;
}

div.projects h2 {
    text-align: center;
}

div.project-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}